<html>
  <body>
    <h1 class="plant-title">Les plantes</h1>
    <div class="plant-column">
      <% @plants.each do |plant| %>
        <%= link_to plant.common_name, plant_path(plant.id), class: "plant-plant" %>
      <% end %>
    </div>
  </body>
</html>
